<!DOCTYPE HTML>
<head>

<!-- Define Charset -->
<meta charset="utf-8"/>

<!-- Responsive Metatag -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<!-- Page Title -->
<title> Mastermail - Choose your layout </title>

<!-- Description and Keyword -->
<meta name="keywords" content=""/>
<meta name="description" content=""/>


<link rel="stylesheet" href="http://themastermail.com/alerta/1171804860/css/styles.css"/>


<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<!-- Favicon -->
<link rel="shortcut icon" href="http://themastermail.com/alerta/1171804860/img/favicon.ico" type="image/x-icon" />

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>
	
	<div class="wrap">

		<div class="logo"><img src="http://themastermail.com/alerta/1171804860/img/logo.png" alt="mastermail" /></div>
		<h1>Bundle of 20 email notifications + Bonus</h1>
		<p class="subti">click too see it on action !</p>
	
		<ul class="items">
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=3"><p>Login</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item1.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=11"><p>App</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item2.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=1" ><p>Store</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item3.png" /></a></li>
		</ul>
	
		<ul class="items items2">
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=4"><p>Social</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item4.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=9"><p>App</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item5.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=7" ><p>Store</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item6.png" /></a></li>
		</ul>
	
	
		<ul class="items items2">
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=2"><p>Reset</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item8.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=6"><p>Blog</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item11.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=17" ><p>Invoice</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item7.png" /></a></li>
		</ul>
	
		<ul class="items items2">
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=20"><p>Travel</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item13.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=14"><p>Company</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item14.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=13" ><p>Notification</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item16.png" /></a></li>
		</ul>
	
		<ul class="items items2">
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=16"><p>Travel</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item19.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=10"><p>Company</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item20.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=8" ><p>Notification</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item18.png" /></a></li>
		</ul>
	
		<ul class="items items2">
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=18"><p>Personal</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item12.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=15"><p>Gift</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item17.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=19" ><p>Notification</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item10.png" /></a></li>
		</ul>
	
		<ul class="items items2">
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=5"><p>Personal</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item9.png" /></a></li>
			<li><a href="http://themastermail.com/alerta/intro/index.php?notif=12"><p>Gift</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item15.png" /></a></li>
						<li><a href="http://themastermail.com/alerta/intro/index.php?notif=21"><p>Bonus</p><img alt="" src="http://themastermail.com/alerta/1171804860/img/item21.png" /></a></li>

		</ul>
	
	
		<p class="copyright"><strong>MasterMail</strong> © copyright 2014. All Rights Are Reserved</p>
	
	
	</div>
</body>
</html>